@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "GATWICKREG";
    src: url("../assets/fonts/PPGatwick-Regular.woff");
}
@font-face {
font-family: "GATWICKBOLD";
src: url("../assets/fonts/PPGatwick-Bold.woff");
}
